body, html {
    margin: 50;
    font-family: sans-serif;
}

.content {
    margin: 0 auto;
    width: 150px;
}

table, td, th {
    border: 1px solid #aaa;
}

table {
    border-collapse: collapse;
    width: 50%;
}

th {
    height: 30px;
}

td {
    text-align: center;
    padding: 5px;
}

.form {
    margin-top: 10px;
}

#content {
    width: 70%;
}